.container.testimonial__container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
  width: 45%;
}

.client__avatar {
  width: 15rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: 0 auto 1rem;
  border-radius: 50%;
  border: 0.4rem solid var(--color-primary-variant);
  object-fit: cover;
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem 0;
  border-radius: 2rem;
  user-select: none;
  display: block;
  border: 1px solid transparent;
  transition: var(--transition);
}
.testimonial:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}
@media screen and (max-width: 1024px) {
  .container.testimonial__container {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .container.testimonial__container {
    width: 90%;
  }
  .testimonial {
    width: var(--container-width-sm);
  }
}
